#fundo-home {
    position: absolute;
    width: 1441px;
    height: 587px;
    left: 0px;
    top: 0px;

    background: #290742;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    position: absolute;
    width: 161.14px;
    height: 36.54px;
    left: 136.86px;
    top: 68px;
    color: #FFFFFF;
}

menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    width: 348px;
    height: 21px;
    left: 505px;
    top: 76px;
    display: flex;
    list-style: none;
    padding: 0;
    color: #FFFFFF;
}

li {
    flex-grow: 1;
}

#site-search {
    position: absolute;
    width: 230px;
    height: 44px;
    left: 1006px;
    top: 64px;

    background: #170027;
    border-radius: 4px 0px 0px 4px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#id-search {
    position: absolute;
    width: 70px;
    height: 44px;
    left: 1236px;
    top: 64px;
}

#icon-search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1259px;
    top: 74px;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;

    position: absolute;
    width: 570px;
    height: 311px;
    left: 135px;
    top: 172px;
    color: #9E6DC2;
}

#texto-header {
    position: absolute;
    width: 469px;
    height: 82px;
    left: 136px;
    top: 350px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FBF6FF;
}

#veja-mais {
    position: absolute;
    width: 80px;
    height: 27px;
    left: 135px;
    top: 456px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #9E6DC2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#icon-arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 223px;
    top: 458px;

}

svg {
    box-sizing: border-box;

    position: absolute;
    width: 24px;
    height: 24px;
    left: 223px;
    top: 458px;

    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.imagem-header {
    position: absolute;
    width: 570px;
    height: 346px;
    left: 735px;
    top: 172px;

    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

#divisoria-verde {
    position: absolute;
    width: 1440px;
    height: 6px;
    left: 0px;
    top: 582px;

    background: #4FFF4B;
}


#post1 {
    position: absolute;
    width: 569px;
    height: 546.09px;
    left: 136px;
    top: 652px;
}

#post23 {

    position: absolute;
    width: 472px;
    height: 414.55px;
    left: 835px;
    top: 652px;

}

#post4 {
    position: absolute;
    width: 370px;
    height: 458.54px;
    left: 134px;
    top: 1261.88px;
}

#post5 {
    position: absolute;
    width: 370px;
    height: 458.54px;
    left: 534px;
    top: 1261.88px;

}

#post6 {
    position: absolute;
    width: 370px;
    height: 458.54px;
    left: 934px;
    top: 1261.88px;
}

.txt-corpo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


h3 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #290742;
}
